{% extends "dashboard/base.html" %} {% load static %} {% block content %}
<style>
  .mask {
    background: linear-gradient(-45deg, #ee7752, #b85a96, #0a2d7e, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>

<div class="header pb-6 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-11 col-md-10">
        <h1 class="display-2 text-white">Hello {{ user.username }}</h1>
        <p class="text-white mt-0 mb-5">
          This is your profile page. You can see the progress you've made with
          your work and manage your projects or assigned tasks
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <img
          src="{% static 'dashboard/assets/img/theme/img-1-1000x600.jpg' %}"
          alt="Image placeholder"
          class="card-img-top"
        />
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a
                href="#"
                class="nav-link"
                data-toggle="modal"
                data-target="#updatePhotoModal"
                role="button"
              >
                <img
                  src="{{ user.profile.image.url }}"
                  class="rounded-circle"
                  style="background-color: aliceblue;"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
        ></div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h5 class="h3">
              {{ user.username }}
            </h5>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{user.profile.city}},
              {{user.profile.country}}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i
              >{{user.profile.position}}
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>{{user.profile.company}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Edit profile</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Account Settings</a>
            </div>
          </div>
          {% if messages %} {% for message in messages %}
          <div
            class="alert alert-{{ message.tags }} mt-2 alert-dismissible fade show"
            role="alert"
          >
            <span class="alert-inner--text"> {{ message }}</span>
          </div>
          {% endfor %} {% endif %}
        </div>
        <div class="card-body">
          <form role="form" method="POST">
            {% csrf_token %}
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label
                      class="form-control-label"
                      for="{{ u_form.username.id_for_label }}"
                      >Username</label
                    >
                    <input
                      type="text"
                      id="{{ u_form.username.id_for_label }}"
                      class="form-control"
                      name="{{ u_form.username.html_name }}"
                      placeholder="Username"
                      value="{{ u_form.username.value }}"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label
                      class="form-control-label"
                      for="{{ u_form.email.id_for_label }}"
                      >Email address</label
                    >
                    <input
                      type="email"
                      id="{{ u_form.email.id_for_label }}"
                      name="{{ u_form.email.html_name }}"
                      class="form-control"
                      placeholder="Email"
                      value="{{ u_form.email.value }}"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label
                      class="form-control-label"
                      for="{{ p_form.first_name.id_for_label }}"
                      >First name</label
                    >
                    <input
                      type="text"
                      id="{{ p_form.first_name.id_for_label }}"
                      class="form-control"
                      name="{{ p_form.first_name.html_name }}"
                      placeholder="First name"
                      value="{{ p_form.first_name.value }}"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label
                      class="form-control-label"
                      for="{{ p_form.last_name.id_for_label }}"
                      >Last name</label
                    >
                    <input
                      type="text"
                      id="{{ p_form.last_name.id_for_label }}"
                      class="form-control"
                      name="{{ p_form.last_name.html_name }}"
                      placeholder="Last name"
                      value="{{ p_form.last_name.value }}"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label
                      class="form-control-label"
                      for="{{ p_form.company.id_for_label }}"
                      >Company</label
                    >
                    <input
                      type="text"
                      id="{{ p_form.company.id_for_label }}"
                      class="form-control"
                      name="{{ p_form.company.html_name }}"
                      placeholder="Company"
                      value="{{ p_form.company.value }}"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label
                      class="form-control-label"
                      for="{{ p_form.position.id_for_label }}"
                      >Position</label
                    >
                    <input
                      type="text"
                      id="{{ p_form.position.id_for_label }}"
                      class="form-control"
                      name="{{ p_form.position.html_name }}"
                      placeholder="Position"
                      value="{{ p_form.position.value }}"
                    />
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label
                      class="form-control-label"
                      for="{{ p_form.address.id_for_label }}"
                      >Address</label
                    >
                    <input
                      id="{{ p_form.address.id_for_label }}"
                      class="form-control"
                      name="{{ p_form.address.html_name }}"
                      placeholder="Home Address"
                      value="{{ p_form.address.value }}"
                      type="text"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label
                      class="form-control-label"
                      for="{{ p_form.city.id_for_label }}"
                      >City</label
                    >
                    <input
                      type="text"
                      id="{{ p_form.city.id_for_label }}"
                      class="form-control"
                      name="{{ p_form.city.html_name }}"
                      placeholder="City"
                      value="{{ p_form.city.value }}"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label
                      class="form-control-label"
                      for="{{ p_form.country.id_for_label }}"
                      >Country</label
                    >
                    <input
                      type="text"
                      id="{{ p_form.country.id_for_label }}"
                      class="form-control"
                      name="{{ p_form.country.html_name }}"
                      placeholder="Country"
                      value="{{ p_form.country.value }}"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label
                      class="form-control-label"
                      for="{{ p_form.postal_code.id_for_label }}"
                      >Postal code</label
                    >
                    <input
                      type="number"
                      id="{{ p_form.postal_code.id_for_label }}"
                      class="form-control"
                      name="{{ p_form.postal_code.html_name }}"
                      placeholder="Postal code"
                      value="{{ p_form.postal_code.value }}"
                    />
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">About</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label class="form-control-label">About</label>
                <textarea
                  rows="4"
                  id="{{ p_form.about.id_for_label }}"
                  class="form-control"
                  name="{{ p_form.about.html_name }}"
                  placeholder="A few words about you ..."
                >
{{ p_form.about.value }}</textarea
                >
              </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Save Changes" />
            <input type="hidden" name="next" value="{{ next }}" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="updatePhotoModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="contact"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card card-profile">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <div
                  class="card-header text-center border-0 pt-8 pt-md-6 pb-0 pb-md-4"
                ></div>
                <a href="#">
                  <img
                    src="{{ user.profile.image.url }}"
                    class="rounded-circle"
                    style="background-color: aliceblue;"
                  />
                </a>
              </div>
            </div>
          </div>
          <div
            class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
          ></div>
          <div class="card-body pt-0">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center">
                  <form role="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group mb-3 mt-3">
                      <div class="input-group input-group-alternative">
                        <input
                          placeholder="{{ i_form.image.label }}"
                          id="{{ i_form.image.id_for_label }}"
                          name="{{ i_form.image.html_name }}"
                          type="file"
                          accept="image/png, image/jpeg, image/jpg"
                        />
                      </div>

                      <small class="text-warning">
                        {{ i_form.image.errors }}</small
                      >
                    </fieldset>
                    <div class="text-center">
                      <button
                        type="button"
                        class="btn btn-warning"
                        data-dismiss="modal"
                      >
                        Close
                      </button>
                      <input
                        type="submit"
                        class="btn btn-primary my-4"
                        value="Update"
                      />
                      <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!---->
      </div>
    </div>
  </div>
</div>
{% endblock content %}
