{% extends 'landing/base.html' %}{% load static %} {% block content %}
<div class="d-flex" id="wrapper">

    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a href="#revenue" class="list-group-item list-group-item-action bg-dark text-white">Revenue Model
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Shortcuts</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Overview</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Events</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Profile</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Status</a>
        </div>
    </div>
    <div id="page-content-wrapper">

        <div class="container pt-lg-7">
            <h1>Our plan for the next iteration in couch-surfing</h1>
            <p>We plan on building a platform that works for the whole community. We've talked to a lot of people
                and
                put a lot of thought into the issues with Couchsurfing™ so we can fix them and build something
                better.</p>

            <p>Primarily we want it to be:</p>

            <ol>
                <li>Free for all users forever</li>
                <li>Managed by the community</li>
                <li>Modern and well built, adapting to user needs</li>
                <li>Accessible and safe</li>
            </ol>

            <p>We fundamentally believe that a tool like this can enhance the experiences of its users and
                communities
                that use it if it is executed correctly.</p>

            <p>We want to include the best parts from all the other hospitality exchange platforms out there. This
                includes hosting, surfing, messaging, live hangouts, planned events, trip planning, maps and many
                more.</p>

            <p>If you have ideas for features you'd like to see, please let us know.</p>

            <h2>Our plan</h2>
            <p>These are the key concepts that we will build into the foundation of the platform.</p>
        </div>
        <div class="container pt-lg-7" id="revenue">
            <h1>Non-Profit Revenue Models</h1>
        </div>
    </div>
</div>
{% endblock content %}